<!--
  Generated template for the ProjectCreatePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>สร้างโครงการใหม่</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <form (ngSubmit)="doCreateProject()" class="form">

    <ion-card>
      <ion-card-header>
        ขั้นตอน
      </ion-card-header>
      <ion-list radio-group>
        <ion-item hideWhen="mobile">
          <ion-label>ออกแบบ</ion-label>
          <ion-radio value="1"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>ระหว่างการก่อสร้าง</ion-label>
          <ion-radio value="2"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>ถนนที่เปิดให้บริการแล้ว</ion-label>
          <ion-radio value="3"></ion-radio>
        </ion-item>
      </ion-list>
    </ion-card>
  
    <ion-card>
      <ion-card-header>
        เส้นทาง
      </ion-card-header>
      <ion-list>
        <ion-item>
          <ion-label>
            ภูมิภาค
          </ion-label>
          <ion-select [(ngModel)]="regionId" (ionChange)="regionChanged($event)" name="region">
            <ion-option value="1">ภาคกลาง</ion-option>
            <ion-option value="2">ภาคตะวันออก</ion-option>
            <ion-option value="3">ภาคตะวันออกเฉียงเหนือ</ion-option>
            <ion-option value="4">ภาคเหนือ</ion-option>
            <ion-option value="5">ภาคใต้</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>
            สำนัก
          </ion-label>
          <ion-select [(ngModel)]="officeId" (ionChange)="officeChanged($event)" name="office">
              <ion-option *ngFor="let o of officesList" [value]="o.id">{{ o.office }}</ion-option>
          </ion-select>  
        </ion-item>
        <ion-item>
          <ion-label>
            หน่วยงาน
          </ion-label>
          <ion-select [(ngModel)]="branchId" (ionChange)="branchChanged($event)" name="branch">
              <ion-option *ngFor="let b of branchList" [value]="b.id">{{ b.branch }}</ion-option>
            </ion-select>  
        </ion-item>
        <ion-item>
          <ion-icon name="logo-steam" item-start></ion-icon>
          <ion-label>สายทาง</ion-label>
          <!-- <ion-select formControlName="option3"> -->
          <ion-select [(ngModel)]="selectedRoad" name="road">
            <ion-option *ngFor="let r of roadList" >{{ r.road }}</ion-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </ion-card>
  
    <div padding>
      <button ion-button block>สร้าง</button>
    </div>
  
  </form>

</ion-content>
