<!--
  Generated template for the ProjectCheckListL1Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ checkByTitle }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-card>
      <ion-card-header>
        {{ l0name }}
      </ion-card-header>
      <ion-item>
        <ion-label item-start>ผลการตรวจสอบ</ion-label>
        <ion-segment item-content [(ngModel)]="segmentTemp">
          <ion-segment-button value="yes">ใช่</ion-segment-button>
          <ion-segment-button value="no">ไม่ใช่</ion-segment-button>
          <ion-segment-button value="-">-</ion-segment-button>
          <ion-segment-button value="na">N/A</ion-segment-button>
        </ion-segment>
      </ion-item>
  </ion-card>

  <ion-card *ngFor="let l1 of checkLists">
    <ion-card-header>
      {{ l1.name }}
    </ion-card-header>
    <ion-item *ngIf="l1.checkable">
      <ion-segment [(ngModel)]="segmentTemp2">
        <ion-segment-button value="yes">ใช่</ion-segment-button>
        <ion-segment-button value="no">ไม่ใช่</ion-segment-button>
        <ion-segment-button value="-">-</ion-segment-button>
        <ion-segment-button value="na">N/A</ion-segment-button>
      </ion-segment>
      <button ion-button round item-end icon-left [navPush]="commentpage" [navParams]="l1">
        <ion-icon name="checkmark"></ion-icon>
        บันทึกความเห็น
      </button>
    </ion-item>

    <ion-card *ngFor="let l2 of l1.items">
      <p padding>{{ l2.name }}</p>
      <ion-item *ngIf="l2.checkable">
        <ion-segment>
          <ion-segment-button>ใช่</ion-segment-button>
          <ion-segment-button>ไม่ใช่</ion-segment-button>
          <ion-segment-button>-</ion-segment-button>
          <ion-segment-button>N/A</ion-segment-button>
        </ion-segment>
        <button ion-button round item-end icon-left [navPush]="commentpage" [navParams]="l2">
          <ion-icon name="checkmark"></ion-icon>
          บันทึกความเห็น
        </button>
      </ion-item>
    </ion-card>
  </ion-card>

</ion-content>
