<!--
  Generated template for the ProjectCheckListL0Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ checkByTitle }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <h3>รายการตรวจสอบความปลอดภัย</h3>

  <ion-list>

    <ion-row *ngFor="let l0 of checkLists">
      <ion-list-header (click)="toggleSubItems(l0)">
        <ion-icon *ngIf="!l0.showSubItems" name="checkmark-circle-outline" item-start></ion-icon>
        <ion-icon *ngIf="l0.showSubItems && l0.open" name="arrow-dropdown-circle" item-start></ion-icon>
        <ion-icon *ngIf="l0.showSubItems && !l0.open" name="arrow-dropright-circle" item-start></ion-icon>
        {{ l0.name }}
      </ion-list-header>
      <ion-list *ngIf="l0.showSubItems && l0.open">
        <button ion-item *ngFor="let l1 of l0.items" (click)="goL1Page(l1)" >
          <ion-icon name="checkmark-circle-outline" item-start></ion-icon>
          {{ l1.name }}
        </button>
      </ion-list>
    </ion-row>

  </ion-list>

</ion-content>
